$green1: #008f68;
$green2: #6DB65B;
$green3: #4AAE9B;

$yellow1: #FAE042;
$yellow2: #EFBB35;
$yellow3: #DFA612;

$white: white;
$white1: #eeeeee;
$white2: #eaeaea;
$white3: #aaaaaa;

$black: black;
$black1: #282927;
$black2: #464646;
$black3: #232323;