@import url(https://fonts.googleapis.com/css?family=Lato:300,400,500&display=swap);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300&display=swap);
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
$font-primary: 'Lato', sans-serif;
$font-emphasis: 'Lato', sans-serif;
$font-code: 'IBM Plex Mono', monospace;
$font-awesome: 'Lato', sans-serif;
$font-title: 'Varela Round', sans-serif;