$highlight: #f86942;
$main: #ff2245;
$bg: #fef7d6;
.main-page {
  z-index: 2;
  position: absolute;
  left: 0px;
  top:0px;
  right: 0px;
  bottom: 0px;
  display: grid;
  grid-template-rows: 10px auto auto 1fr;
  width: 100%;
  height: 100%;
  div {
    overflow: hidden;
  }
  .banner {
    text-align: center;
    header {
      font-size: 72px;
      font-weight: 1000;
      vertical-align: bottom;
      padding-bottom: 30px;
      margin-left: 0px;
    }
    .wobble {
      vertical-align: bottom;
    }
    .sub-banner {
      text-align: center;
      font-size: 24px;
      font-weight: 400;
    }
  }

  .social {
    display: inline-grid;
    grid-template-columns: 1fr auto auto auto auto auto auto 1fr;
    .social-button {
      font-size: 48px;
      padding: 10px;
      margin: 0px 5px;
      display: inline;
      text-decoration: none !important;
      .fab {
        vertical-align: bottom;
      }
    }
    .gcicon {
      //color: #470A68 !important;
      vertical-align: bottom;
      display: inline-block;
    }
  }
}
.board {
  z-index: 1;
  position: absolute;
  left: 0px;
  top:0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
}
