$highlight: #f86942;
$main: #352245;
$bg: #fef7d6;

.article {
  display: grid;
  grid-template-rows: 80px auto auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  height: 100%;
  .banner {
    text-align: center;
    canvas {
      background-color: $bg;
    }
  }
  .nav {
    grid-column: 1 / span 3;
  }
  .social {
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: 1fr auto auto auto auto auto 1fr;
    .social-button {
      font-size: 48px;
      padding: 10px;
      margin: 0px 5px;
      display: inline;
      .fab {
        vertical-align: bottom;
      }
    }
  }
  .board {
    grid-column: 1 / span 3;
  }
}
header {
  font-size: 72px;
  font-weight: 1000;
}
