$highlight: #f86942;
$main: #352245;
$bg: #fef7d6;
.main-page {
  display: grid;
  grid-template-rows: 30px auto auto 1fr;
  width: 100%;
  height: 100%;
  div {
    overflow: hidden;
  }
  .header {

  }
  .banner {
    text-align: center;
    header {
      font-size: 72px;
      font-weight: 1000;
      vertical-align: bottom;
      padding-bottom: 30px;
    }
    .wobble {
      vertical-align: bottom;
    }
    .sub-banner {
      text-align: center;
      font-size: 24px;
      font-weight: 400;
    }
  }

  .social {
    display: inline-grid;
    grid-template-columns: 1fr auto auto auto auto auto 1fr;
    .social-button {
      font-size: 48px;
      padding: 10px;
      margin: 0px 5px;
      display: inline;
      .fab {
        vertical-align: bottom;
      }
    }
  }
  .board {
    display: inline-grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100%;
    my-game-board {
      margin-top: 30px;
    }
  }
}
