<div>
  <canvas id="canvas" width="640" height="320" #canvas></canvas>
  <img #enemiesSpritesheet [style.display]="'none'" src="../../../game-sprites/enemies_spritesheet.png" />
  <img #hudSpritesheet [style.display]="'none'" src="../../../game-sprites/hud_spritesheet.png" />
  <img #itemsSpritesheet [style.display]="'none'" src="../../../game-sprites/items_spritesheet.png" />
  <img #p1Spritesheet [style.display]="'none'" src="../../../game-sprites/p1_spritesheet.png" />
  <img #p2Spritesheet [style.display]="'none'" src="../../../game-sprites/p2_spritesheet.png" />
  <img #p3Spritesheet [style.display]="'none'" src="../../../game-sprites/p3_spritesheet.png" />
  <img #tilesSpritesheet [style.display]="'none'" src="../../../game-sprites/tiles_spritesheet.png" />
</div>
