<div class="canvas-board" #host>
  <canvas id="canvas-bg" width="{{width}}" height="{{height}}" #canvasB></canvas>
  <canvas id="canvas-world-shadow" width="{{width}}" height="{{height}}" #canvasWS></canvas>
  <canvas id="canvas-world" width="{{width}}" height="{{height}}" #canvasW></canvas>
  <canvas id="canvas-items-shadow" width="{{width}}" height="{{height}}" #canvasIS></canvas>
  <canvas id="canvas-items" width="{{width}}" height="{{height}}" #canvasI></canvas>
  <img #moonShiny [style.display]="'none'" src="../../../game-sprites/moon.png" />
  <img #sunShiny [style.display]="'none'" src="../../../game-sprites/sun_shiny.png" />
  <img #hudSpritesheet [style.display]="'none'" src="../../../game-sprites/hud_spritesheet.png" />
  <img #itemsSpritesheet [style.display]="'none'" src="../../../game-sprites/items_spritesheet.png" />
  <img #tilesSpritesheet [style.display]="'none'" src="../../../game-sprites/tiles_spritesheet.png" />
  <img #p1Spritesheet [style.display]="'none'" src="../../../game-sprites/p1_spritesheet.png" />
  <img #p2Spritesheet [style.display]="'none'" src="../../../game-sprites/p2_spritesheet.png" />
  <img #p3Spritesheet [style.display]="'none'" src="../../../game-sprites/p3_spritesheet.png" />
  <img #enemiesSpritesheet [style.display]="'none'" src="../../../game-sprites/enemies_spritesheet.png" />
  <img #p1Spritesheeti [style.display]="'none'" src="../../../game-sprites/p1_spritesheet_inverted.png" />
  <img #p2Spritesheeti [style.display]="'none'" src="../../../game-sprites/p2_spritesheet_inverted.png" />
  <img #p3Spritesheeti [style.display]="'none'" src="../../../game-sprites/p3_spritesheet_inverted.png" />
  <img #enemiesSpritesheeti [style.display]="'none'" src="../../../game-sprites/enemies_spritesheet_inverted.png" />

</div>
