/* You can add global styles to this file, and also import other style files */
$highlight: #285218;
$main: 204, 254, 215;
$bg: #19c770;
$font: 'Nunito Sans', sans-serif;
* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}
::selection {
  background-color:#f869424f;
}
canvas {
  width: 100%;
  display: block;
}
body, html { height:100%; }
body{
  font-family: $font;
}
.night {
  background-color: $main;
  color: $bg;
}
.day {
  background-color: $bg;
  color: $main;
}
a { color: inherit; }
.highlight {
  color: $highlight;
}
//wiggle
@-webkit-keyframes wiggle
{
    0% {-webkit-transform: rotateZ(2deg);}
    50% {-webkit-transform: rotateZ(-2deg);}
    100% {-webkit-transform: rotateZ(2deg);}
}
@-moz-keyframes wiggle
{
    0% {-moz-transform: rotateZ(2deg);}
    50% {-moz-transform: rotateZ(-2deg);}
    100% {-moz-transform: rotateZ(2deg);}
}
@-o-keyframes wiggle
{
    0% {-o-transform: rotateZ(2deg);}
    50% {-o-transform: rotateZ(-2deg);}
    100% {-o-transform: rotateZ(2deg);}
}
@keyframes wiggle
{
    0% {transform: rotateZ(2deg);}
    50% {transform: rotateZ(-2deg);}
    100% {transform: rotateZ(2deg);}
}

//blink
@-webkit-keyframes blink
{
  50% {
    opacity: 0.0;
  }
}
@-moz-keyframes blink
{
  50% {
    opacity: 0.0;
  }
}
@-o-keyframes blink
{
  50% {
    opacity: 0.0;
  }
}
@keyframes blink
{
  50% {
    opacity: 0.0;
  }
}

.wobble {
  display: inline-block;
  -webkit-animation: wiggle 0.2s ease infinite;
  -moz-animation: wiggle 0.2s ease infinite;
  -o-animation: wiggle 0.2s ease infinite;
  animation: wiggle 0.2s ease infinite;
}

.blink {
  display: inline-block;
  -webkit-animation: blink 1s step-start 0s infinite;
  -moz-animation: blink 1s step-start 0s infinite;
  -o-animation: blink 1s step-start 0s infinite;
  animation: blink 1s step-start 0s infinite;
}

@font-face {
	font-family: "gcicons";
  src: url("/assets/gcicons.ttf") format("truetype"),
      url("/assets/gcicons.eot") format("embedded-opentype"),
      url("/assets/gcicons.svg") format("svg"),
      url("/assets/gcicons.woff") format("woff")
}

[class^="gcicon-"],
[class*=" gcicon-"] {
	font-family: 'gcicons' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.gcicon-product_gc:before,
.gcicon-product_xam:before,
.gcicon-product-xam:before,
.gcicon-platform_xam:before,
.gcicon-platform-xam:before {
	content: "\e903"
}

.gcicon-product_c1:before,
.gcicon-product-c1:before,
.gcicon-platform_c1:before,
.gcicon-platform-c1:before {
	content: "\e961"
}

.gcicon-product_ar:before,
.gcicon-product-ar:before,
.gcicon-platform_ar:before,
.gcicon-platform-ar:before {
	content: "\e95f"
}

.gcicon-product_sp:before,
.gcicon-product-sp:before,
.gcicon-platform_sp:before,
.gcicon-platform-sp:before {
	content: "\e963"
}

.gcicon-product_wj:before,
.gcicon-product-wj:before,
.gcicon-platform_wj:before,
.gcicon-platform-wj:before {
	content: "\e965"
}

.gcicon-product_doc:before,
.gcicon-product-doc:before,
.gcicon-platform_doc:before,
.gcicon-platform-doc:before,
.gcicon-product_dx:before,
.gcicon-product-dx:before,
.gcicon-platform_dx:before,
.gcicon-platform-dx:before,
.gcicon-dx-closed:before {
	content: "\e90a"
}

.gcicon-dx-open:before {
	content: "\e967"
}

.navigation-secondary .gcicon-product_c1:before,
.navigation-secondary .gcicon-product-c1:before,
.navigation-secondary .gcicon-platform_c1:before,
.navigation-secondary .gcicon-platform-c1:before {
	content: "\e962"
}

.navigation-secondary .gcicon-product_ar:before,
.navigation-secondary .gcicon-product-ar:before,
.navigation-secondary .gcicon-platform_ar:before,
.navigation-secondary .gcicon-platform-ar:before {
	content: "\e960"
}

.navigation-secondary .gcicon-product_sp:before,
.navigation-secondary .gcicon-product-sp:before,
.navigation-secondary .gcicon-platform_sp:before,
.navigation-secondary .gcicon-platform-sp:before {
	content: "\e964"
}

.navigation-secondary .gcicon-product_wj:before,
.navigation-secondary .gcicon-product-wj:before,
.navigation-secondary .gcicon-platform_wj:before,
.navigation-secondary .gcicon-platform-wj:before {
	content: "\e966"
}

.navigation-secondary .gcicon-product_doc:before,
.navigation-secondary .gcicon-product-doc:before,
.navigation-secondary .gcicon-platform_doc:before,
.navigation-secondary .gcicon-platform-doc:before {
	content: "\e90a"
}

.gcicon-java:before {
	content: "\e96a"
}

.gcicon-java-full:before {
	content: "\e96b"
}

.gcicon-java:before {
	content: "\e96a"
}

.gcicon-java-full:before {
	content: "\e96b"
}

.gcicon-azure:before {
	content: "\e968"
}

.gcicon-azure-full:before {
	content: "\e969"
}

.gcicon-doc-open:before {
	content: "\e967"
}

.gcicon-doc-closed:before {
	content: "\e90a"
}

.gcicon-knockout:before {
	content: "\e906"
}

.gcicon-vue:before {
	content: "\e907"
}

.gcicon-hex-dash-open:before {
	content: "\e905"
}

.gcicon-hex-open:before {
	content: "\e904"
}

.gcicon-gc-closed:before {
	content: "\e903"
}

.gcicon-ar-closed:before {
	content: "\e95f"
}

.gcicon-ar-open:before {
	content: "\e960"
}

.gcicon-c1-closed:before {
	content: "\e961"
}

.gcicon-c1-open:before {
	content: "\e962"
}

.gcicon-sp-closed:before {
	content: "\e963"
}

.gcicon-sp-open:before {
	content: "\e964"
}

.gcicon-wj-closed:before {
	content: "\e965"
}

.gcicon-wj-open:before {
	content: "\e966"
}

.gcicon-logo-thomson-reuters:before {
	content: "\e952"
}

.gcicon-logo-vertaco:before {
	content: "\e951"
}

.gcicon-logo-phila:before {
	content: "\e953"
}

.gcicon-logo-mydistrict:before {
	content: "\e954"
}

.gcicon-logo-la-edu:before {
	content: "\e955"
}

.gcicon-logo-keysoft:before {
	content: "\e956"
}

.gcicon-logo-jag:before {
	content: "\e957"
}

.gcicon-logo-geomentum:before {
	content: "\e958"
}

.gcicon-logo-fmsinc:before {
	content: "\e959"
}

.gcicon-logo-cisco:before {
	content: "\e95a"
}

.gcicon-logo-cgi:before {
	content: "\e95b"
}

.gcicon-logo-bloomin:before {
	content: "\e95c"
}

.gcicon-logo-aoc:before {
	content: "\e95d"
}

.gcicon-logo-andex:before {
	content: "\e95e"
}

.gcicon-vs-logo:before {
	content: "\e94f"
}

.gcicon-xamarin-logo:before {
	content: "\e950"
}

.gcicon-64-bit:before {
	content: "\e90b"
}

.gcicon-300controls:before {
	content: "\e90c"
}

.gcicon-400controls:before {
	content: "\e90d"
}

.gcicon-adaptive:before {
	content: "\e90e"
}

.gcicon-angular:before {
	content: "\e90f"
}

.gcicon-awardwinning:before {
	content: "\e910"
}

.gcicon-browsers:before {
	content: "\e911"
}

.gcicon-coding:before {
	content: "\e912"
}

.gcicon-collaboratebetter:before {
	content: "\e913"
}

.gcicon-com:before {
	content: "\e914"
}

.gcicon-componentsource:before {
	content: "\e915"
}

.gcicon-crossplatform:before {
	content: "\e916"
}

.gcicon-dashboard:before {
	content: "\e917"
}

.gcicon-databinding:before {
	content: "\e918"
}

.gcicon-dataengine:before {
	content: "\e919"
}

.gcicon-datagrids:before {
	content: "\e91a"
}

.gcicon-datavalidation:before {
	content: "\e91b"
}

.gcicon-datavisualization:before {
	content: "\e91c"
}

.gcicon-documentation:before {
	content: "\e91d"
}

.gcicon-dotnet:before {
	content: "\e91e"
}

.gcicon-downloadappstore:before {
	content: "\e91f"
}

.gcicon-downloadgoogleplay:before {
	content: "\e920"
}

.gcicon-downloadwindowsstore:before {
	content: "\e921"
}

.gcicon-dynamic:before {
	content: "\e922"
}

.gcicon-excellentrendering:before {
	content: "\e923"
}

.gcicon-fastandlightweight:before {
	content: "\e924"
}

.gcicon-fileexplorer:before {
	content: "\e925"
}

.gcicon-flexibility:before {
	content: "\e926"
}

.gcicon-formula:before {
	content: "\e927"
}

.gcicon-forums:before {
	content: "\e928"
}

.gcicon-freeze:before {
	content: "\e929"
}

.gcicon-gridsandcharts:before {
	content: "\e92a"
}

.gcicon-highperformant:before {
	content: "\e92b"
}

.gcicon-javascript:before {
	content: "\e92c"
}

.gcicon-lightweight:before {
	content: "\e92d"
}

.gcicon-modular:before {
	content: "\e92e"
}

.gcicon-ms-gcp:before {
	content: "\e92f"
}

.gcicon-olap:before {
	content: "\e930"
}

.gcicon-pdf:before {
	content: "\e931"
}

.gcicon-phonesupport:before {
	content: "\e932"
}

.gcicon-platformindependent:before {
	content: "\e933"
}

.gcicon-reportdesigner:before {
	content: "\e934"
}

.gcicon-reporting:before {
	content: "\e935"
}

.gcicon-reportserver:before {
	content: "\e936"
}

.gcicon-reportviewers:before {
	content: "\e937"
}

.gcicon-royaltyfree:before {
	content: "\e938"
}

.gcicon-savemoney:before {
	content: "\e939"
}

.gcicon-savetime:before {
	content: "\e93a"
}

.gcicon-spreadsheet:before {
	content: "\e93b"
}

.gcicon-spreadsheetdesign:before {
	content: "\e93c"
}

.gcicon-superioranimation:before {
	content: "\e93d"
}

.gcicon-teamsupport:before {
	content: "\e93e"
}

.gcicon-themes:before {
	content: "\e93f"
}

.gcicon-touchsupport:before {
	content: "\e940"
}

.gcicon-typescript:before {
	content: "\e941"
}

.gcicon-universal:before {
	content: "\e942"
}

.gcicon-universalexperience:before {
	content: "\e943"
}

.gcicon-views:before {
	content: "\e944"
}

.gcicon-visualstudio:before {
	content: "\e945"
}

.gcicon-vs2017-badge:before {
	content: "\e946"
}

.gcicon-vs-partner:before {
	content: "\e947"
}

.gcicon-vswin10:before {
	content: "\e948"
}

.gcicon-webapi:before {
	content: "\e949"
}

.gcicon-windows:before {
	content: "\e94a"
}

.gcicon-word:before {
	content: "\e94b"
}

.gcicon-xamarin:before {
	content: "\e94c"
}

.gcicon-xapoptimizer:before {
	content: "\e94d"
}

.gcicon-zero:before {
	content: "\e94e"
}

.gcicon-platform-angularjs:before {
	content: "\e908"
}

.gcicon-platform-reactjs:before {
	content: "\e909"
}

.gcicon-logo-gc-horiz:before {
	content: "\e900"
}

.gcicon-logo-gc-ds-horiz:before {
	content: "\e901"
}

.gcicon-logo-gc-ds-stack:before {
	content: "\e902"
}
